@import 'bootstrap/dist/css/bootstrap.min.css';



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .bg {
  min-height:calc(100% - 70px);
} */

/* leaderboard */

/* .lBoard {
  position: sticky;
  top: 0;
} */

.leaderBoard.list-group {
  counter-reset: line-number;
}

.leaderBoard.list-group-item {
  counter-increment: line-number;
  text-indent: 24px;
}

.leaderBoard.list-group-item:after {
  content: counter(line-number)".";
  text-indent: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0.5rem;
  text-align: center;
}

.leaderBoard.list-group-item.crowned:after {
  content: '';
  background-image: url(crown-solid.svg);
  background-repeat: no-repeat;
  background-position: 10% -50%;
}

.badge {
text-indent: 0;
}

/* end leaderboard code */




